/*
Sahachel Flores & Ellen Hales
CSC 337 - Spring 2019 - April 22nd, 2019
Final Project
This is the css of our recipe page. This is used to style all of the elements.
Layout and text formatted here.
*/
#addFavorites {
	padding: 20px;
	width: 10%;
}

#addFavorites,#favorites,#home {
	font-size: 20pt;
}

#addFavorites,#favorites,#home,h3,#welcome{
	text-align: center;
}

#addFavorites input {
	background-color: #fff5cc;
}

#addFavorites input,#descrip,#favorites,#home,.name,#search,span {
	font-weight: bold;
}

#addFavorites input,#search,#searchFood {
	border-radius: 5px;
}

body {
	background-image: url("background-yellow.jpg");
}

#descrip {
	margin-bottom: 1px;
}

#descrip,#favorites,#home,h3 {
	margin-top: 0;
}

#descrip,#favorites,#home,.name,#welcome{
	color: #4d3d00;
}

#favorites,#home {
	background-color: #ffeb99;
	border: 2px gray solid;
	float:right;
	padding: 5px;
	margin: 5px;
	width: 13%;
	font-size: 15pt;
}

#favorites,#home,.name {
	border-radius: 10px;
}

h3 {
	padding-top: 0;
}

#ingredients {
	display: flex;
}

.name {
	font-size: 24pt;
	border: 5px solid #fff0b3;
	padding-left: 10px;
}

#search {
	background-color: #fff0b3;
}

#success {
	font-size: 10pt;
}

#Top {
	padding:30px;
}

#welcome {
	margin-bottom: 0;
}
